<div class="header">
    <div>
        <h2><b>the simplest {{title}}</b></h2>
        <h4>be up to date</h4>  
        <button mat-button color="primary" class="button-section" routerLink="">
            <img src="https://img.icons8.com/material-outlined/24/000000/home--v2.png"/>
        </button>
    </div>

    <br>
    <!-- <div class='navigation-buttons'>
        <button mat-button color="primary" class="button-section" routerLink="">
            <img src="https://img.icons8.com/material-outlined/24/000000/home--v2.png"/>
        </button>
        <br>
        <button mat-button color="primary" class="button-section" routerLink="/crypto">Crypto</button>
        <button mat-button color="primary" class="button-section" routerLink="/fiat">Fiat</button>
    </div> -->
</div>