.crypto-container {
  display: flex;
  justify-content: space-between;
}

.crypto-container__single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .crypto-container {
    flex-direction: column;
    align-items: center;
  }
}